@import './header';
@import './section';
@import './animations';

$main-font: 'Amatic SC', cursive;
$f1-color: #001a23;
$f2-color: #31493c;
$f3-color: #7a9e7e;
$f4-color: #b3efb2;
$f5-color: #e8f1f2;

.quotes{
  width: 50%;
  margin: auto;
  padding-top: 3%;
  font-size: 20px;
  p{
    width: 50%;
    margin: auto;
    padding-right: 5%;
    font-family: $main-font;
    color: $f2-color;
  }
}

.wide-text{
  font-stretch: expanded;
}

.section{
  font-family: $main-font;
  font-size: 2vw;
  color: $f5-color;
  margin: auto;
  padding-top: 5%;
  width: 50%;
}